body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
    min-width: 800px;

}

h3 {
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 50%))
}

#pot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#betForm {

    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

input {
    height: 30px;
    width: 100px;
    font-size: 18px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    text-align: center;

}






#board {
    display: flex;
    background-color: #00563B;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 650px;
    min-width: 800px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    max-height: 650px;
    max-width: 800px;
}

.hand {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#toolbar {
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 2px solid white;
    border-radius: 8px;
}

#chipSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 250px;
}

.chipDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 17px;
    color: white;
    font-weight: 500;
    line-height: 0%;
    padding: 3px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 50%))
}



#playerSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 5px;
    ;


}

#dealerSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 200px; */
    padding: 20px
}



#buttonSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;

    height: 75px;
    /* padding: 10px; */

}

#rightSection {
    width: 250px;
    height: 75px;

}

button {
    height: 50px;
    min-width: 80px;
    font-size: 20px;
    background-color: #00563B;
    border: 3px white solid;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 50%));
    margin: 5px;
}

button:hover {
    cursor: pointer;
    border-color: #ffe5b4;
    color: #ffe5b4;
}

.card {
    width: 110px;
    height: 160px;
    background-size: cover;
    background-color: white;
    outline: 5px white solid;
    outline-offset: -1.5px;
    border-radius: 8px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 50%))
}